{%- if show != false -%}
	<div class="tw-flex tw-gap-10 tw-mt-4 tw-mb-8">
		{% if product.metafields.custom.infusion_amount != blank %}
            <div>
                {% render 'infusion-icon', icon: 'amount' %}
                {% render 'infusion-info', text: 'amount' %}
            </div>
        {% endif %}

        {% if product.metafields.custom.infusion_temperature != blank %}
            <div>
                {% render 'infusion-icon', icon: 'temperature' %}
                {% render 'infusion-info', text: 'temperature' %}
            </div>
        {% endif %}

        {% if product.metafields.custom.infusion_time != blank %}
            <div>
                {% render 'infusion-icon', icon: 'time' %}
                {% render 'infusion-info', text: 'time' %}
            </div>
        {% endif %}
	</div>
{%- endif -%}