{%- assign infusion-amount = product.metafields.custom.infusion_amount.value -%}
{%- assign infusion-volume = product.metafields.custom.infusion_volume.value -%}
{%- assign infusion-time = product.metafields.custom.infusion_time.value -%}

{%- if icon != 'none' -%}

	<div class="tw-text-xs tw-text-center">
	{%- case text -%}
        
        {%- when 'amount' -%}
          {{ infusion-amount }}
        {%- when 'volume' -%}
          {{ infusion-volume }}
        {%- when 'time' -%}
          {{ infusion-time }}
        
    {%- endcase -%}
	</div>
{%- endif -%}