<section class="page-width">

  <div class="tw-grid tw-gap-4 md:tw-grid-cols-2 lg:tw-grid-cols-16 tw-mt-4 tw-pt-4 {% if section.settings.topic != 'Flavour profile' %}tw-border-t tw-border-gray{% endif %}">
    
    <div class="lg:tw-col-span-5 max-md:tw-order-2">

      <div class="tw-sticky tw-top-4">

        {% if section.settings.subtitle %}
          <h2 class="tw-font-body tw-font-normal tw-text-sm tw-mb-4 lowercase">
            {% if section.settings.subtitle.value %}
              {{ section.settings.subtitle }}
            
            {% else %}
             
              {% if section.settings.topic != 'Choose a topic' %}
                {% case section.settings.topic %}
                  {% when 'Flavour profile' %}
                  <span>Flavour profile</span>
                  {% when 'Origin' %}
                  <span>Origin</span>
                {% endcase %}

              {% endif %}
            
            {% endif %}
          </h2>

        {% endif %}

        {% if section.settings.heading %}
          <h3 class="tw-font-normal tw-text-balance tw-text-xl lg:tw-text-2xl">
            {{ section.settings.heading }}
          </h3>
        {% endif %}

        {% if section.settings.copy %}
          <div class="tw-mt-16 rte">
            {{ section.settings.copy }}
          </div>
        {% endif %}

      </div>

    </div>
    <div class="lg:tw-col-start-8 lg:tw-col-span-9 tw-space-y-4">

        {% case section.settings.topic %}
          {% when 'Flavour profile' %}
            {% for image in product.metafields.custom.flavour_profile_media.value %}
              {% render 'product-media-section' image:image %}
            {% endfor %}
          {% when 'Quote' %}
            {% for image in product.metafields.custom.quote_media.value %}
              {% render 'product-media-section' image:image %}
            {% endfor %}
          {% when 'Origin' %}
            {% for image in product.metafields.custom.origin_media.value %}
              {% render 'product-media-section' image:image %}
            {% endfor %}
        {% endcase %}

    </div>

  </div>
</section>

{% schema %}
{
  "name": "t:sections.product-section.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-section.settings.paragraph__1.content"
    },
    {
      "type": "select",
      "id": "topic", 
      "label": "t:sections.product-section.settings.topic.label",
      "info": "t:sections.product-section.settings.topic.content",
      "options": [
        {
          "value": "Choose a topic",
          "label": "t:sections.product-section.settings.topic.options__1.label"
        },
        {
          "value": "Flavour profile",
          "label": "t:sections.product-section.settings.topic.options__2.label"
        },
        {
          "value": "Quote",
          "label": "t:sections.product-section.settings.topic.options__3.label"
        },
        {
          "value": "Origin",
          "label": "t:sections.product-section.settings.topic.options__4.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "subtitle", 
      "label": "t:sections.product-section.settings.subtitle.label"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.product-section.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "copy",
      "label": "t:sections.product-section.settings.copy.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-section.name"
    }
  ]
}
{% endschema %}
