{%- for block in section.blocks -%}
    {% assign fields = product.metafields[block.settings.metafield-namespace] %}
    <section class="tw-mb-16 page-width">
      <div class="
        tw-pt-8 tw-border-t tw-border-stroke-grey tw-grid tw-gap-8 md:tw-items-start md:tw-grid-cols-2 xl:tw-grid-cols-16
        {% if forloop.first %} max-md:tw-border-none {% endif %}
      ">
        <div class="tw-space-y-8 xl:tw-col-span-5 md:tw-sticky md:tw-top-8 sm:max-xl:tw-pr-16">
          {% if fields.title %}
            <h2 class="tf-type-body-sm tw-text-canton-grey">
              {{ fields.title | escape }}
            </h2>
          {% endif %}
          {% if fields.heading %}
            <p class="tf-type-heading-md {% if fields.text %}tw-pb-8{% endif %}">
              {{ fields.heading | escape | newline_to_br }}
            </p>
          {% endif %}
          {% if fields.text %}
            <div class="*:tw-space-y-6">
              {{ fields.text | metafield_tag }}
            </div>
          {% endif %}
        </div>
        {% if fields.images %}
          <div class="tw-space-y-6 xl:tw-col-start-8 xl:tw-col-span-9">
            {%- for image in fields.images.value -%}
              {{ image | image_url: width: 1600 | image_tag }}
            {%- endfor -%}
          </div>
        {% endif  %}
      </div>
    </section>
{% endfor %}

{% schema %}
    {
      "name": "t:sections.product-features.name",
      "class": "section",
      "tag": "section",
      "disabled_on": {
        "groups": ["header", "footer"]
      },
      "settings": [],
      "blocks": [
        {
          "type": "product-feature",
          "name": "t:sections.product-features.blocks.product-feature.name",
          "settings": [
            {
              "type": "text",
              "id": "metafield-namespace",
              "label": "t:sections.product-features.blocks.product-feature.settings.metafield-namespace.label"
            }
          ]
        }
      ]
    }
{% endschema %}
